<div class="kui-flex-wrap">
  <style>
    p {
      white-space: pre-wrap;
      word-wrap: break-word;
      margin: 0px;
      padding: 0px;
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: font-family: 'Open Sans', sans-serif;
      font-weight: bold;
    }
    .li-style {
      height: 70px!important;
      padding:0 5px!important;
    }
    .wrapper {
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row;
    }
    .wrapper-thumb {
      width: 59px;
      padding-top: 5px;
      position: relative;
    }
    .wrapper-thumb-img {
      object-fit: cover;
      max-width: 59px;
      max-height: 59px;
      border-radius: 5px;
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.45);
      background-color: #FFFFFF;
    }
    .wrapper-info {
      height: 60px;
      width:calc(100% - 55px);
      padding: 5px 5px 0px 5px;
      margin-bottom: 5px;
      overflow: hidden;
      position: relative;
    }
    .wrapper-info-child {
      height: 28px;
      width: 100%;
      white-space: pre-wrap!important;
      word-break: break-word!important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
  <ul class="kui-list kai-container">
    {{#list}}
    <li class="ePageNav kui-divider li-style">
      <div class="wrapper">
        <div class="wrapper-thumb" sty>
          <img id="thumb_{{ feedId }}_{{ id }}" src="{{ podkastThumb }}" class="wrapper-thumb-img" width="59px" height="59px"/>
          {{#podkastPlaying}}
          <span style="background: rgba(0,0,0,0.5);border-radius: 5px;position:absolute;top:5px;left:0;width:59px;height:59px;display:flex;flex-direction:column;justify-content:center;align-items:center;"><img width="30px" height="30px" src="/icons/play_white.png"/></span>
          {{/podkastPlaying}}
        </div>
        <div class="wrapper-info">
          <p id="title_{{ feedId }}_{{ id }}" class="wrapper-info-child" style="font-size:13px;padding-bottom:3px;">{{ podkastTitle }}</p>
          <div style="position:absolute;margin:-1px 0 0 3px;padding:2px;bottom:0;left:0;font-weight:lighter;">
            {{#podkastCursor}}
            <span class="kai-icon-arrow" style="font-size:12px;"></span>
            {{/podkastCursor}}
            <p style="text-align:left;font-weight:lighter;">{{#duration}}{{duration}}{{/duration}} {{#enclosureLength}}{{enclosureLength}}{{/enclosureLength}}</p>
            {{#episode}}
            <p style="text-align:left;font-weight:lighter;">Episode: {{ episode }}</p>
            {{/episode}}
          </div>
          <div style="position:absolute;margin-top:-1px;padding:2px;bottom:0;right:0;display-flex;flex-direction:row;">
            {{#podkastBookmark}}
            <span class="kai-icon-favorite-on" style="font-size:12px;"></span>
            {{/podkastBookmark}}
            {{#podkastLocalPath}}
            <span class="kai-icon-download" style="font-size:12px;"></span>
            {{/podkastLocalPath}}
            {{^podkastLocalPath}}
            <span class="kai-icon-wifi" style="font-size:12px;"></span>
            {{/podkastLocalPath}}
          </div>
        </div>
      </div>
    </li>
    {{/list}}
  </ul>
</div>
