<div class="kui-flex-wrap">
  <style>
    p {
      white-space: pre-wrap;
      word-wrap: break-word;
      margin:0px;
      padding:0px;
      width: 220px;
      font-family: 'Open Sans', sans-serif;
      font-size:14px;
    }
    @media screen and (orientation: landscape) {
      p {
        width: 300px;
      }
    }
  </style>
  <ul class="kui-list kai-container">
    {{#list}}
    <li class="helpSupportNav kui-divider">
      <span>
        <p>{{ question }}</p>
      </span>
    </li>
    {{/list}}
  </ul>
</div>
