<div class="kui-flex-wrap" style="background:#ccc;color:#000;font-size:14px;">
  <style>
    pre {
      margin: 0;
      padding: 0;
    }
    .kui-header{
      height:0px;
    }
    .kui-router-m-top{
      margin-top:0;
    }
    .kui-router-h-hdr-sk {
      height: calc(100vh - 30px) !important;
      overflow-y: hidden;
    }
    .marquee {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
    }
    .marquee span {
      display: inline-block;
      height: 20px;
      padding-left: 100%;  /* show the marquee just outside the paragraph */
      animation: marquee 15s linear infinite;
    }
    /* Make it move */
    @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-100%, 0); }
    }
    .inactive {
      -webkit-filter: opacity(.4);
      filter: opacity(.4);
    }
  </style>
  <div class="kai-container" style="margin:5px;">
    <div>
      <h3 class="marquee">
        <span>{{ title }}</span>
      </h3>
    </div>
    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
      <img style="border-radius:5px;" height="150px" width="150px" src="{{ album_art }}"/>
      <pre class="mini_title">{{ episode.title }}</pre>
    </div>

    <div style="">
      <input id="home_duration_slider" style="width:99%;background:#ccc;border-color:#ccc;" value="{{ slider_value }}" type="range" min="0" max="{{ slider_max }}" disabled/>
    </div>

    <div class="kui-row-center">
      <div id="home_current_time">{{ current_time }}</div>
      <img id="play_btn" width="36px" height="36px" src="{{ play_icon }}"/>
      <div>{{ duration }}</div>
    </div>
  </div>
</div>
