<div class="kui-flex-wrap" style="background:#ccc;color:#000;font-size:14px;">
  <style>
    pre {
      margin: 0;
      padding: 0;
    }
    .kui-header{
      height:0px;
    }
    .kui-router-m-top{
      margin-top:0;
    }
    .kui-router-h-hdr-sk {
      height: calc(100vh - 30px) !important;
      overflow-y: hidden;
    }
    .marquee {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
    }
    .marquee span {
      display: inline-block;
      height: 20px;
      padding-left: 100%;  /* show the marquee just outside the paragraph */
      animation: marquee 15s linear infinite;
    }
    /* Make it move */
    @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-100%, 0); }
    }
    .inactive {
      -webkit-filter: opacity(.4);
      filter: opacity(.4);
    }
    #main_thumb {
      border-radius:5px;
    }
    @media only screen and (orientation : portrait) {
      #main_thumb {
        height: 150px;
        width: 150px;
      }
    }
    @media screen and (orientation: landscape) {
      #main_thumb {
        height: 80px;
        width: 80px;
      }
    }
  </style>
  <div class="kai-container" style="margin:5px;">
    <div>
      <h3 class="marquee">
        <span id="main_title">PodKast</span>
      </h3>
    </div>
    <div class="kui-row-center" style="margin-top:5px;justify-content:center;align-items:center;">
      <img id="main_thumb" src="/icons/loading.gif"/>
    </div>

    <div style="margin-top:5px;">
      <input id="main_duration_slider" style="width:99%;background:#ccc;border-color:#ccc;" value="0" type="range" min="0" max="100" disabled/>
    </div>

    <div class="kui-row-center">
      <div id="main_current_time" style="width:34%;">00:00</div>
      <img id="main_play_btn" width="36px" height="36px" src="/icons/play.png"/>
      <div id="main_duration" style="width:34%;text-align:right;">00:00</div>
    </div>
  </div>
</div>
