<div class="kui-option-menu">
  <style>
    pre.mini_title {
      white-space: pre-wrap;
      word-wrap: break-word;
      margin: 2px 0px 0px 0px;
      padding: 0px;
      font-size: 13px;
      width: 220px;
      max-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .thumbx {
      border-radius:5px;
    }
    .thumbx_buffering {
      border-radius: 5px;
      position: absolute;
    }
    @media only screen and (orientation : portrait) {
      .thumbx {
        height: 100px;
        width: 100px;
      }
      .thumbx_buffering {
        top: 0;
        left: 0px;
      }
    }
    @media screen and (orientation: landscape) {
      .thumbx {
        height: 30px;
        width: 30px;
      }
      .thumbx_buffering {
        top: 0;
        left: 0px;
      }
      .block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      pre.mini_title {
        margin: -6px 0px 0px 5px;
        width: 275px;
        text-align: left;
      }
    }
  </style>
  <div class="kui-option-title" style="overflow:hidden;">{{ episode.feedTitle }}</div>
  <div class="kui-option-body kai-padding-5">
    <div class="block">
      <div style="position:relative;">
        <img id="thumbx_buffering" class="thumbx thumbx_buffering" src="/icons/loading.gif"/>
        <img id="mini_thumb" class="thumbx" src="/icons/loading.gif"/>
      </div>
      <pre class="mini_title">{{ episode.title }}</pre>
    </div>
    <div>
      <input id="mini_duration_slider" style="width:99%;background:#fff;border-color:#fff;" value="0" type="range" min="0" max="100" disabled/>
    </div>
    <div class="kui-row-center">
      <div id="mini_current_time" style="width:34%;">00:00</div>
      <img id="mini_play_btn" width="36px" height="36px" src="/icons/play.png"/>
      <div id="mini_duration" style="width:34%;text-align:right;">00:00</div>
    </div>
  </div>
</div>
